.dark-theme,
html[data-theme='dark'] {
  --ef-bg-dim: #232a2e;
  --ef-bg0: #2d353b;
  --ef-bg1: #343f44;
  --ef-bg2: #3d484d;
  --ef-bg3: #475258;
  --ef-bg4: #47585e;
  --ef-bg5: #56635f;
  
  --ef-bg-red: #543a48;
  --ef-bg-visual: #514045;
  --ef-bg-orange: var(--ef-bg-visual);
  --ef-bg-yellow: #4d4c43;
  --ef-bg-green: #425047;
  --ef-bg-blue: #3a515d;

  --ef-red: #e67e80;
  --ef-orange: #e69875;
  --ef-yellow: #dbbc7f;
  --ef-green: #a7c080;
  --ef-blue: #7fbbb3;
  --ef-aqua: #83c092;
  --ef-purple: #d699b6;

  --ef-fg: #d3c6aa;
  --ef-fg-bright: #ddd8be;
  --ef-statusline1: var(--ef-green);
  --ef-statusline2: var(--ef-fg);
  --ef-statusline3: var(--ef-red);
  --ef-gray0: #7a8478;
  --ef-gray1: #859289;
  --ef-gray2: #9da9a0;
}
