.dark-theme,
html[data-theme='dark'] {
  --ef-bg-dim: #293136;
  --ef-bg0: #333c43;
  --ef-bg1: #3a464c;
  --ef-bg2: #434f55;
  --ef-bg3: #4d5960;
  --ef-bg4: #555f66;
  --ef-bg5: #5d6b66;
  
  --ef-bg-visual: #514045;
  --ef-bg-red: #59464c;
  --ef-bg-orange: var(--ef-bg-visual);
  --ef-bg-yellow: #55544a;
  --ef-bg-green: #48584e;
  --ef-bg-blue: #3f5865;

  --ef-red: #e67e80;
  --ef-orange: #e69875;
  --ef-yellow: #dbbc7f;
  --ef-green: #a7c080;
  --ef-blue: #7fbbb3;
  --ef-aqua: #83c092;
  --ef-purple: #d699b6;

  --ef-fg: #d3c6aa;
  --ef-fg-bright: #ddd8be;
  --ef-statusline1: var(--ef-green);
  --ef-statusline2: var(--ef-fg);
  --ef-statusline3: var(--ef-red);
  --ef-gray0: #7a8478;
  --ef-gray1: #859289;
  --ef-gray2: #9da9a0;
}
